<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adwyxx.oauth.mapper.OAuthClientMapper">
  <resultMap id="BaseResultMap" type="com.adwyxx.oauth.model.OAuthClient">
    <id column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="client_secret" jdbcType="VARCHAR" property="clientSecret" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    client_id, client_name, client_secret, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oauth_client
    where client_id = #{clientId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oauth_client
    where client_id = #{clientId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adwyxx.oauth.model.OAuthClient">
    insert into oauth_client (client_id, client_name, client_secret, create_time
      )
    values (#{clientId,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adwyxx.oauth.model.OAuthClient">
    update oauth_client
    <set>
      <if test="clientName != null">
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null">
        client_secret = #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where client_id = #{clientId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adwyxx.oauth.model.OAuthClient">
    update oauth_client
    set client_name = #{clientName,jdbcType=VARCHAR},
      client_secret = #{clientSecret,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where client_id = #{clientId,jdbcType=VARCHAR}
  </update>
</mapper>